<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card overflow-hidden">
                    <div class="bg-soft-primary" style="background-color:#fecd04 !important;">
                        <div class="row">
                            <div class="col-5">
                                <div class="text-primary p-3">
                                    <h5 class="text-primary">Welcome Back !</h5>
                                    <p>Sign in to continue to SlotBooking.</p>
                                </div>
                            </div>
                            <div class="col-6 align-self-end">
                                <img src="assets/images/profile-img.png" alt="" class="img-fluid ban6">
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div>
                            <a routerLink="/">
                                <div class="avatar-md profile-user-wid mb-4">
                                    <span class="avatar-title rounded-circle bg-light">
                                        <img src="assets/images/logo.svg" alt="" class="rounded-circle" height="68">
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="p-2">
                            <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                                <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{error}}</ngb-alert>

                                <div class="form-group mb-3">
                                    <label for="UserName">User Name</label>

                                    <input type="text" formControlName="userName" class="form-control" id="userName"
                                        placeholder="Please enter User name"
                                        [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
                                    <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                                        <div *ngIf="f.userName.errors.required">User Name is required</div>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="password">Password</label>

                                    <input type="password" formControlName="password" class="form-control"
                                        placeholder="Please enter Password" id="password"
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                    </div>
                                </div>

                                <div class="mt-3">
                                    <button class="btn btn-primary btn-block" type="submit">Log In</button>
                                </div>

                                <!-- <div class="mt-4 text-center">
                                    <a routerLink="/account/reset-password" class="text-muted"><i class="mdi mdi-lock mr-1"></i> Forgot
                    your
                    password?</a>
                                </div> -->
                            </form>
                        </div>

                    </div>
                </div>
                <div class="mt-5 text-center">
                    <p>© {{year}} SlotBooking</p>
                  </div>
            </div>
        </div>
    </div>
</div>